@import url("/tokens/variables.css");

.blue-500 {
  background-color: var(--ch3plus-global-3plus-blue-500);
  color: #fff;
}

.blue-400 {
  background-color: var(--ch3plus-global-3plus-blue-400);
  color: #fff;
}

.blue-300 {
  background-color: var(--ch3plus-global-3plus-blue-300);
  color: #fff;
}

.font-sm {
  font-size: var(--ch3plus-global-size-sm);
}

.font-md {
  font-size: var(--ch3plus-global-md);
}

.font-lg {
  font-size: var(--ch3plus-global-lg);
}

.box {
  width: 4rem;
  height: 4rem;
  border-radius: 0.2rem;
}